[defaults]
inventory = ./inventory.ini
log_path = /var/log/roboshop/ansible.log
#ansible-playbook -i inventory 01-ec2-r53.yaml -e "component=['mongodb']" --> before creating an ansible.cfg file and adding defaults into it
#ansible-playbook 01-ec2-r53.yaml -e "component=['mongodb']" --> before creating an ansible.cfg file and adding defaults into it
# -v --> verbose --> more information of what's actually happening (-v;-vv;-vvv --> used for the debugging purpose)
#ansible-playbook -vvv 01-ec2-r53.yaml -e "component=['mongodb']" 
#vault_password_file = /etc/ansible/vault_pass.txt
